<div class="row">
  <div class="well well-lg">
    <div class="row">
      <div class="col-md-4">
        <%= user.name %>
      </div>
      <div class="col-md-4">
        <%= pluralize(user.tweets.count, "tweet") %> posted
      </div>
      <div class="col-md-4">
        <% btn_value = current_user.following?(user) ? "Unfollow" : "Follow" %>
        <button type="button" id="follow-<%= user.id %>" class="follow-btn btn btn-primary pull-right" data-dismiss="modal" data-id="<%= user.id %>"><%= btn_value %></button>
      </div>
    </div>
  </div>
</div>