<% if user_signed_in? %>
  <%= link_to "New Tweet", new_tweet_path, class: "btn btn-default btn-lg", id: "new-tweet-btn" %>
<% end %>

<% if @tweets %>
  <h1 id="no-tweets">Your Feed</h1>
  <%= will_paginate @tweets %>
  <% @tweets.each do |tweet| %>
    <div class="well well-lg">
      <div class="tweet-body">
        <%= link_to tweet.body, tweet_path(tweet) %>
      </div>
      <div class="author">
        <small>
          Created by: <%= tweet.user.name %> (<%= tweet.user.email %>) on <%= tweet.created_at.strftime("%b %d %Y") %>
        </small>
      </div>
      <div class="likes_count">
        <%= tweet.likers_count %> Likes
      </div>
      <div class="pull-right">
        <%= link_to 'Like', likes_path(tweet), :method => :post, :class => 'btn btn-primary btn-xs' %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @tweets %>
<% else %>
  <h1 id="no-tweets">No Tweets in Your Feed</h1>
  <p>Create a tweet and follow others<p>
<% end %>